<h1>Opened Orders</h1>
<%= link_to "Refresh", admin_refresh_orders_path, id: "secret-refresh-btn", class: "hide", data: {remote: true} %>
<div id="order-list">
  <%= render partial: 'order_boxes' %>
</div>

<div id="order-details" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="order-title" class="modal-title">Order Title</h4>
      </div>
      <form id="modal-form" action="" data-remote="true" method="put">
        <div class="modal-body">
          <p><strong>Status:</strong> <span id="order-status"></span></p>
          <ul id="modal-order-list" class="order-box__list">
          </ul>
          <label>Comment:</label>
          <textarea id="order_comment_" name="order[comments]" rows="4" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" id="submit-btn" class="btn btn-primary" data-remote="true" data-change="processing" value="Accept Order" />
          <a href="#" class="btn btn-danger", data-confirm="Are you sure you want to cancel this order?">Cancel Order</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% content_for :javascript do %>
  <script>
    var api_url = 'ws://172.16.84.128:3001',
        socket = null,
        authToken = "<%= session[:jwt_token] %>"
    ;

    socket = io(api_url);
    socket.on("connect", function() {
      console.log("connected");
    });
    socket.on("auth-request", function() {
      console.log("auth-request");
      socket.emit("login", authToken);
    });
    socket.on("order-created", function(data) {
      console.log("order-created");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("order-cancelled", function(data) {
      console.log("order-cancelled");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("order-updated", function(data) {
      console.log("order-updated");
      $("#secret-refresh-btn")[0].click();
    });
    socket.on("error", function() {
      socket.close();
    })
  </script>
<% end %>
