.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
  position: relative;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .glyphicon {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .glyphicon {
  display: block !important;
}

.label-overlay {
	color: #fff;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: rgba(0,0,0,0.6);
}
.image-checkbox:hover .label-overlay, .image-checkbox-checked .label-overlay {
	display: flex !important;
}
