body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  & label {
    display: block;
  }
}

.input-huge {
  width: 318px;
  display: inline-block;
  margin-bottom: 15px;
}

.login-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  padding: 25px;
  width: 420px;
  background: white;
  text-align: center;
}

.login-form legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.login-form .body {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;

  & label{
    display: block;
  }

  & input {
    border-radius: 4px;
  }
}

.login-form .footer {
  margin-top: 20px;
}

.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

.register-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  margin-bottom: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: white;
  text-align: center;
}

.register-form {
  margin: 0 auto;
  width: 350px;
}

.register-form .control-inline {
  display: inline-block;
}

.register-form legend {
  margin-bottom: 15px;
  border-bottom: none;
}

.register-form input.input-huge {
  width: 318px;
}

.register-form .control-group {
  margin-bottom: 0;
}

.register-form .checkbox.inline {
  margin-bottom: 10px;
  padding: 0;
  font-size: 98%;
}

.register-form .checkbox.inline input {
  margin-right: 10px;
}

.register-form .body {
  overflow-y: auto;
  height: auto;
}

.register-form .btn {
  padding: 10px 40px;
  background-image: none;
  box-shadow: none;
}

.register-info-wraper {
  background: rgba(0, 0, 0, 0.2);
}

.register-info {
  position: relative;
  padding: 25px;
}

.register-info ul {
  margin-right: 25px;
}

.register-info ul li {
  margin-bottom: 25px;
}
